/*products styles*/
.card-products-container{
    margin: 5vh auto;
}
.card-products{
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;

}
.card-products img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width:100%;
    font-size: 15px;
    border-radius: 25px; 
}
.cart-btn{
    position: fixed;
    top: 40px; /* Cambia 90vh a un valor fijo en píxeles para ubicarlo en la parte superior */
    right:40px;/* Ajusta la distancia desde el borde derecho de la pantalla */
    background-color: rgb(25,25,25);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}
.cart-btn:hover{
    cursor:pointer;
    opacity: 0.9;
}
.cart-counter{
    display:none;
    position:fixed;
    top:35px;
    right:27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
}

.card-products button:hover{
    opacity: 0.7;
}


/*modal*/

.modal-overlay{
    display:none;
    background-color: rgb(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
}
.modal-container{
    display:none;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    width: 120%;
    z-index:1;
    max-height: 88vh;
    overflow-y: auto;
}
.modal-container::-webkit-scrollbar{
    display:none;
}
.modal-close{
    float:right;
    cursor:pointer;
    color: black; /* Color del texto del botón */
    font-weight: bold; /* Hacer la "X" más gruesa */
    border-radius: 8%; 

}

.modal-close:hover {
    cursor:pointer;
    opacity: 0.5;
}
.modal-title{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/*modal.body*/
.modal-body{
    margin-bottom:20px;
    text-align:center;
}
.product{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-bottom:20px;
}
.product-img{
    height: 80px;
    margin-right:20px;
    width:80px;
}
.product.info{
    flex:1;
    text-align:left;
}
.product-info h4{
    margin-top: 35px;
}
.quantity{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top:10px;
   margin-right: 4em; 
}
.quantity-btn-decrese,
.quantity-btn-increse{
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}
.quantity-input{
    color: #333333;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}
@media only screen and (max-width: 500px){
.product-img{
    display: none;
}
.modal-body{
    margin-left:5px;
    margin-right:5px;
 }
}
.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.delete-product{
    margin-top: 0; /* Ajusta este valor según sea necesario */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    color: black; /* Color del texto del botón */
    font-size: 12px; /* Tamaño del texto dentro del botón */
}

/* Puedes agregar :hover para cambiar la apariencia cuando el ratón pasa por encima del botón */
.delete-product:hover {
    color: red; /* Color del texto del botón */
  }

.modal-footer{
    text-align:center;
}
.total-price{
    font-size:20px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:10px;
}

/* Estilos boton mercado pago*/
.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor:pointer

}
.btn-primary:hover{
    background-color: #0069d9;
    border-color: #0062cc;
}
#button-checkout{
    z-index:10;
}
.head {
    background-color: #D2B48C; /* Color de fondo */
    width: 100%;
    height: 100%;
}